In [ ]:
import pandas as pd
import numpy as np

# Enhanced dataset with more features
data = {
    'years_experience': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                          1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    'job_title': ['Data Analyst','Data Analyst','Data Scientist','Data Scientist','Data Scientist',
                  'ML Engineer','ML Engineer','ML Engineer','Senior DS','Senior DS',
                  'Senior DS','Lead DS','Lead DS','Lead DS','Director','Director',
                  'Director','VP Data','VP Data','Chief Data Officer',
                  'Software Engineer','Software Engineer','Software Engineer','Senior SWE','Senior SWE',
                  'Senior SWE','Senior SWE','Staff Engineer','Staff Engineer','Staff Engineer',
                  'Staff Engineer','Principal Engineer','Principal Engineer','Principal Engineer',
                  'Principal Engineer','Distinguished Engineer','Distinguished Engineer',
                  'Distinguished Engineer','VP Engineering','CTO'],
    'location': (['San Francisco']*20) + (['New York']*20),
    'education': (['Bachelor']*10 + ['Master']*10) + (['Bachelor']*10 + ['Master']*10),
    'salary': [65000,72000,85000,92000,105000,115000,125000,135000,145000,158000,
               168000,178000,188000,198000,210000,225000,240000,255000,270000,300000,
               60000,68000,80000,88000,100000,110000,120000,130000,140000,152000,
               162000,172000,182000,192000,202000,215000,228000,242000,258000,285000]
}

df2 = pd.DataFrame(data)
print("Enhanced dataset created!")
print("Shape:", df2.shape)
print(df2.head(10))

In [1]:
import pandas as pd
import numpy as np

data = {
    'years_experience': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                          1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    'job_title': ['Data Analyst','Data Analyst','Data Scientist','Data Scientist','Data Scientist',
                  'ML Engineer','ML Engineer','ML Engineer','Senior DS','Senior DS',
                  'Senior DS','Lead DS','Lead DS','Lead DS','Director','Director',
                  'Director','VP Data','VP Data','Chief Data Officer',
                  'Software Engineer','Software Engineer','Software Engineer','Senior SWE','Senior SWE',
                  'Senior SWE','Senior SWE','Staff Engineer','Staff Engineer','Staff Engineer',
                  'Staff Engineer','Principal Engineer','Principal Engineer','Principal Engineer',
                  'Principal Engineer','Distinguished Engineer','Distinguished Engineer',
                  'Distinguished Engineer','VP Engineering','CTO'],
    'location': (['San Francisco']*20) + (['New York']*20),
    'education': (['Bachelor']*10 + ['Master']*10) + (['Bachelor']*10 + ['Master']*10),
    'salary': [65000,72000,85000,92000,105000,115000,125000,135000,145000,158000,
               168000,178000,188000,198000,210000,225000,240000,255000,270000,300000,
               60000,68000,80000,88000,100000,110000,120000,130000,140000,152000,
               162000,172000,182000,192000,202000,215000,228000,242000,258000,285000]
}

df2 = pd.DataFrame(data)
print("Enhanced dataset created!")
print("Shape:", df2.shape)
print(df2.head(10))

Enhanced dataset created!
Shape: (40, 5)
   years_experience       job_title       location education  salary
0                 1    Data Analyst  San Francisco  Bachelor   65000
1                 2    Data Analyst  San Francisco  Bachelor   72000
2                 3  Data Scientist  San Francisco  Bachelor   85000
3                 4  Data Scientist  San Francisco  Bachelor   92000
4                 5  Data Scientist  San Francisco  Bachelor  105000
5                 6     ML Engineer  San Francisco  Bachelor  115000
6                 7     ML Engineer  San Francisco  Bachelor  125000
7                 8     ML Engineer  San Francisco  Bachelor  135000
8                 9       Senior DS  San Francisco  Bachelor  145000
9                10       Senior DS  San Francisco  Bachelor  158000

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, r2_score

# Encode categorical columns
le_job = LabelEncoder()
le_location = LabelEncoder()
le_education = LabelEncoder()

df2['job_title_encoded'] = le_job.fit_transform(df2['job_title'])
df2['location_encoded'] = le_location.fit_transform(df2['location'])
df2['education_encoded'] = le_education.fit_transform(df2['education'])

# Features and target
X = df2[['years_experience', 'job_title_encoded', 'location_encoded', 'education_encoded']]
y = df2['salary']

# Split and train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model2 = LinearRegression()
model2.fit(X_train, y_train)

# Evaluate
y_pred = model2.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("✅ Enhanced model trained!")
print(f"R² Score: {r2:.4f}")
print(f"Mean Absolute Error: ${mae:,.2f}")

✅ Enhanced model trained!
R² Score: 0.9771
Mean Absolute Error: $5,145.62

In [4]:
import pickle

# Save the encoders and model
with open('salary_model2.pkl', 'wb') as f:
    pickle.dump(model2, f)

with open('encoders.pkl', 'wb') as f:
    pickle.dump({
        'job_title': le_job,
        'location': le_location,
        'education': le_education
    }, f)

# Print available options for the web app
print("✅ Enhanced model saved!")
print("\nJob Titles:", list(le_job.classes_))
print("\nLocations:", list(le_location.classes_))
print("\nEducation:", list(le_education.classes_))

✅ Enhanced model saved!

Job Titles: ['CTO', 'Chief Data Officer', 'Data Analyst', 'Data Scientist', 'Director', 'Distinguished Engineer', 'Lead DS', 'ML Engineer', 'Principal Engineer', 'Senior DS', 'Senior SWE', 'Software Engineer', 'Staff Engineer', 'VP Data', 'VP Engineering']

Locations: ['New York', 'San Francisco']

Education: ['Bachelor', 'Master']

In [5]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, r2_score

# Updated dataset with German cities
data = {
    'years_experience': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                         1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                         1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    'job_title': ['Data Analyst','Data Analyst','Data Scientist','Data Scientist','Data Scientist',
                  'ML Engineer','ML Engineer','ML Engineer','Senior DS','Senior DS',
                  'Senior DS','Lead DS','Lead DS','Lead DS','Director','Director',
                  'Director','VP Data','VP Data','Chief Data Officer'] * 3,
    'location': (['San Francisco']*20) + (['New York']*20) + (['Berlin']*20),
    'education': (['Bachelor']*10 + ['Master']*10) * 3,
    'salary': [65000,72000,85000,92000,105000,115000,125000,135000,145000,158000,
               168000,178000,188000,198000,210000,225000,240000,255000,270000,300000,
               60000,68000,80000,88000,100000,110000,120000,130000,140000,152000,
               162000,172000,182000,192000,202000,215000,228000,242000,258000,285000,
               45000,52000,62000,70000,80000,90000,98000,108000,118000,128000,
               138000,148000,158000,168000,178000,190000,202000,215000,228000,255000]
}

df3 = pd.DataFrame(data)

# Encode
le_job = LabelEncoder()
le_location = LabelEncoder()
le_education = LabelEncoder()

df3['job_title_encoded'] = le_job.fit_transform(df3['job_title'])
df3['location_encoded'] = le_location.fit_transform(df3['location'])
df3['education_encoded'] = le_education.fit_transform(df3['education'])

# Train
X = df3[['years_experience', 'job_title_encoded', 'location_encoded', 'education_encoded']]
y = df3['salary']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model3 = LinearRegression()
model3.fit(X_train, y_train)

y_pred = model3.predict(X_test)
print("✅ Updated model trained!")
print(f"R² Score: {r2_score(y_test, y_pred):.4f}")
print(f"MAE: ${mean_absolute_error(y_test, y_pred):,.2f}")
print("\nLocations:", list(le_location.classes_))

# Save
with open('salary_model2.pkl', 'wb') as f:
    pickle.dump(model3, f)

with open('encoders.pkl', 'wb') as f:
    pickle.dump({
        'job_title': le_job,
        'location': le_location,
        'education': le_education
    }, f)

print("✅ Model saved!")

✅ Updated model trained!
R² Score: 0.9899
MAE: $3,927.33

Locations: ['Berlin', 'New York', 'San Francisco']
✅ Model saved!

In [6]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, r2_score

# Updated dataset with more German cities
data = {
    'years_experience': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] * 6,
    'job_title': ['Data Analyst','Data Analyst','Data Scientist','Data Scientist','Data Scientist',
                  'ML Engineer','ML Engineer','ML Engineer','Senior DS','Senior DS',
                  'Senior DS','Lead DS','Lead DS','Lead DS','Director','Director',
                  'Director','VP Data','VP Data','Chief Data Officer'] * 6,
    'location': (['San Francisco']*20) + (['New York']*20) + (['Berlin']*20) + 
                (['Munich']*20) + (['Hamburg']*20) + (['Frankfurt']*20),
    'education': (['Bachelor']*10 + ['Master']*10) * 6,
    'salary': [
        # San Francisco
        65000,72000,85000,92000,105000,115000,125000,135000,145000,158000,
        168000,178000,188000,198000,210000,225000,240000,255000,270000,300000,
        # New York
        60000,68000,80000,88000,100000,110000,120000,130000,140000,152000,
        162000,172000,182000,192000,202000,215000,228000,242000,258000,285000,
        # Berlin
        45000,52000,62000,70000,80000,90000,98000,108000,118000,128000,
        138000,148000,158000,168000,178000,190000,202000,215000,228000,255000,
        # Munich (highest in Germany)
        50000,58000,68000,76000,88000,98000,108000,118000,128000,140000,
        150000,162000,172000,182000,194000,206000,218000,232000,246000,272000,
        # Hamburg
        44000,50000,60000,68000,78000,88000,96000,106000,116000,126000,
        136000,146000,156000,166000,176000,188000,200000,212000,225000,250000,
        # Frankfurt
        47000,54000,64000,72000,83000,93000,102000,112000,122000,133000,
        143000,154000,164000,174000,185000,197000,209000,222000,236000,262000,
    ]
}

df4 = pd.DataFrame(data)

# Encode
le_job = LabelEncoder()
le_location = LabelEncoder()
le_education = LabelEncoder()

df4['job_title_encoded'] = le_job.fit_transform(df4['job_title'])
df4['location_encoded'] = le_location.fit_transform(df4['location'])
df4['education_encoded'] = le_education.fit_transform(df4['education'])

# Train
X = df4[['years_experience', 'job_title_encoded', 'location_encoded', 'education_encoded']]
y = df4['salary']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model4 = LinearRegression()
model4.fit(X_train, y_train)

y_pred = model4.predict(X_test)
print("✅ Updated model trained!")
print(f"R² Score: {r2_score(y_test, y_pred):.4f}")
print(f"MAE: ${mean_absolute_error(y_test, y_pred):,.2f}")
print("\nLocations:", list(le_location.classes_))

# Save
with open('salary_model2.pkl', 'wb') as f:
    pickle.dump(model4, f)

with open('encoders.pkl', 'wb') as f:
    pickle.dump({
        'job_title': le_job,
        'location': le_location,
        'education': le_education
    }, f)

print("✅ Model saved!")

✅ Updated model trained!
R² Score: 0.9810
MAE: $5,551.55

Locations: ['Berlin', 'Frankfurt', 'Hamburg', 'Munich', 'New York', 'San Francisco']
✅ Model saved!

In [1]:
import pandas as pd

# Load real dataset
df_real = pd.read_csv('jobs_in_data.csv')

print("Shape:", df_real.shape)
print("\nColumns:", list(df_real.columns))
print("\nFirst 5 rows:")
df_real.head()

Shape: (9355, 12)

Columns: ['work_year', 'job_title', 'job_category', 'salary_currency', 'salary', 'salary_in_usd', 'employee_residence', 'experience_level', 'employment_type', 'work_setting', 'company_location', 'company_size']

First 5 rows:

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

In [2]:
print("Shape:", df_real.shape)
print("\nColumns:", list(df_real.columns))
print("\nExperience Levels:", df_real['experience_level'].unique())
print("\nTop Locations:", df_real['company_location'].value_counts().head(10))
print("\nTop Job Titles:", df_real['job_title'].value_counts().head(10))
print("\nSalary Range: $", df_real['salary_in_usd'].min(), "to $", df_real['salary_in_usd'].max())

Shape: (9355, 12)

Columns: ['work_year', 'job_title', 'job_category', 'salary_currency', 'salary', 'salary_in_usd', 'employee_residence', 'experience_level', 'employment_type', 'work_setting', 'company_location', 'company_size']

Experience Levels: <StringArray>
['Mid-level', 'Senior', 'Executive', 'Entry-level']
Length: 4, dtype: str

Top Locations: company_location
United States     8132
United Kingdom     449
Canada             226
Spain              113
Germany             72
France              50
Portugal            24
Australia           24
Netherlands         21
Brazil              17
Name: count, dtype: int64

Top Job Titles: job_title
Data Engineer                     2195
Data Scientist                    1989
Data Analyst                      1388
Machine Learning Engineer          991
Applied Scientist                  272
Research Scientist                 269
Analytics Engineer                 256
Data Architect                     213
Business Intelligence Engineer     144
Research Engineer                  144
Name: count, dtype: int64

Salary Range: $ 15000 to $ 450000

In [3]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, r2_score

# Filter relevant columns
df_model = df_real[['job_title', 'experience_level', 'company_location', 'salary_in_usd']].copy()

# Filter only top locations with enough data
top_locations = ['United States', 'United Kingdom', 'Canada', 'Germany', 'France', 'Spain', 'Australia']
df_model = df_model[df_model['company_location'].isin(top_locations)]

# Filter top job titles
top_jobs = ['Data Engineer', 'Data Scientist', 'Data Analyst', 'Machine Learning Engineer',
            'Applied Scientist', 'Research Scientist', 'Analytics Engineer', 'Data Architect']
df_model = df_model[df_model['job_title'].isin(top_jobs)]

# Remove outliers
df_model = df_model[df_model['salary_in_usd'] > 20000]
df_model = df_model[df_model['salary_in_usd'] < 400000]

print("Filtered dataset shape:", df_model.shape)
print("\nLocations:", df_model['company_location'].unique())
print("\nExperience Levels:", df_model['experience_level'].unique())
print("\nJob Titles:", df_model['job_title'].unique())

Filtered dataset shape: (7391, 4)

Locations: <StringArray>
[ 'United States', 'United Kingdom',         'Canada',          'Spain',
         'France',        'Germany',      'Australia']
Length: 7, dtype: str

Experience Levels: <StringArray>
['Senior', 'Executive', 'Mid-level', 'Entry-level']
Length: 4, dtype: str

Job Titles: <StringArray>
[           'Data Architect',            'Data Scientist',
             'Data Engineer', 'Machine Learning Engineer',
              'Data Analyst',        'Analytics Engineer',
         'Applied Scientist',        'Research Scientist']
Length: 8, dtype: str

In [4]:
# Encode categorical columns
le_job = LabelEncoder()
le_location = LabelEncoder()
le_experience = LabelEncoder()

df_model['job_encoded'] = le_job.fit_transform(df_model['job_title'])
df_model['location_encoded'] = le_location.fit_transform(df_model['company_location'])
df_model['experience_encoded'] = le_experience.fit_transform(df_model['experience_level'])

# Features and target
X = df_model[['job_encoded', 'location_encoded', 'experience_encoded']]
y = df_model['salary_in_usd']

# Split and train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model_real = LinearRegression()
model_real.fit(X_train, y_train)

# Evaluate
y_pred = model_real.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("✅ Real data model trained!")
print(f"R² Score: {r2:.4f}")
print(f"Mean Absolute Error: ${mae:,.2f}")
print("\nJob Titles:", list(le_job.classes_))
print("\nLocations:", list(le_location.classes_))
print("\nExperience Levels:", list(le_experience.classes_))

✅ Real data model trained!
R² Score: 0.1618
Mean Absolute Error: $43,825.53

Job Titles: ['Analytics Engineer', 'Applied Scientist', 'Data Analyst', 'Data Architect', 'Data Engineer', 'Data Scientist', 'Machine Learning Engineer', 'Research Scientist']

Locations: ['Australia', 'Canada', 'France', 'Germany', 'Spain', 'United Kingdom', 'United States']

Experience Levels: ['Entry-level', 'Executive', 'Mid-level', 'Senior']

In [6]:
from sklearn.ensemble import RandomForestRegressor

# Train with Random Forest
model_rf = RandomForestRegressor(n_estimators=100, random_state=42)
model_rf.fit(X_train, y_train)

# Evaluate
y_pred_rf = model_rf.predict(X_test)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

print("✅ Random Forest model trained!")
print(f"R² Score: {r2_rf:.4f}")
print(f"Mean Absolute Error: ${mae_rf:,.2f}")

✅ Random Forest model trained!
R² Score: 0.3281
Mean Absolute Error: $38,259.39

In [7]:
from sklearn.ensemble import GradientBoostingRegressor

# Add work_year to features
df_model2 = df_real[['work_year', 'job_title', 'experience_level', 'company_location', 
                      'employment_type', 'company_size', 'salary_in_usd']].copy()

# Filter locations and jobs
df_model2 = df_model2[df_model2['company_location'].isin(top_locations)]
df_model2 = df_model2[df_model2['job_title'].isin(top_jobs)]
df_model2 = df_model2[df_model2['salary_in_usd'] > 20000]
df_model2 = df_model2[df_model2['salary_in_usd'] < 400000]

# Encode
le_job2 = LabelEncoder()
le_location2 = LabelEncoder()
le_experience2 = LabelEncoder()
le_employment = LabelEncoder()
le_size = LabelEncoder()

df_model2['job_encoded'] = le_job2.fit_transform(df_model2['job_title'])
df_model2['location_encoded'] = le_location2.fit_transform(df_model2['company_location'])
df_model2['experience_encoded'] = le_experience2.fit_transform(df_model2['experience_level'])
df_model2['employment_encoded'] = le_employment.fit_transform(df_model2['employment_type'])
df_model2['size_encoded'] = le_size.fit_transform(df_model2['company_size'])

# Features and target
X2 = df_model2[['work_year', 'job_encoded', 'location_encoded', 
                 'experience_encoded', 'employment_encoded', 'size_encoded']]
y2 = df_model2['salary_in_usd']

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.2, random_state=42)

# Train Gradient Boosting
model_gb = GradientBoostingRegressor(n_estimators=200, random_state=42)
model_gb.fit(X_train2, y_train2)

y_pred_gb = model_gb.predict(X_test2)
mae_gb = mean_absolute_error(y_test2, y_pred_gb)
r2_gb = r2_score(y_test2, y_pred_gb)

print("✅ Gradient Boosting model trained!")
print(f"R² Score: {r2_gb:.4f}")
print(f"Mean Absolute Error: ${mae_gb:,.2f}")

✅ Gradient Boosting model trained!
R² Score: 0.3397
Mean Absolute Error: $38,128.17

In [8]:
# Save the real data model and encoders
with open('salary_model2.pkl', 'wb') as f:
    pickle.dump(model_gb, f)

with open('encoders.pkl', 'wb') as f:
    pickle.dump({
        'job_title': le_job2,
        'location': le_location2,
        'experience': le_experience2,
        'employment': le_employment,
        'size': le_size
    }, f)

print("✅ Real data model saved!")
print("\nJob Titles:", list(le_job2.classes_))
print("\nLocations:", list(le_location2.classes_))
print("\nExperience Levels:", list(le_experience2.classes_))
print("\nEmployment Types:", list(le_employment.classes_))
print("\nCompany Sizes:", list(le_size.classes_))

✅ Real data model saved!

Job Titles: ['Analytics Engineer', 'Applied Scientist', 'Data Analyst', 'Data Architect', 'Data Engineer', 'Data Scientist', 'Machine Learning Engineer', 'Research Scientist']

Locations: ['Australia', 'Canada', 'France', 'Germany', 'Spain', 'United Kingdom', 'United States']

Experience Levels: ['Entry-level', 'Executive', 'Mid-level', 'Senior']

Employment Types: ['Contract', 'Freelance', 'Full-time', 'Part-time']

Company Sizes: ['L', 'M', 'S']

In [9]:
cat > app.py << 'EOF'
from flask import Flask, request, render_template
import pickle
import pandas as pd
import os

app = Flask(__name__)

with open('salary_model2.pkl', 'rb') as f:
    model = pickle.load(f)

with open('encoders.pkl', 'rb') as f:
    encoders = pickle.load(f)

job_titles = list(encoders['job_title'].classes_)
locations = list(encoders['location'].classes_)
experiences = list(encoders['experience'].classes_)
employments = list(encoders['employment'].classes_)
sizes = list(encoders['size'].classes_)

german_countries = ['Germany', 'France', 'Spain']
euro_countries = ['Australia']

@app.route('/')
def home():
    return render_template('index.html',
                           job_titles=job_titles,
                           locations=locations,
                           experiences=experiences,
                           employments=employments,
                           sizes=sizes)

@app.route('/predict', methods=['POST'])
def predict():
    work_year = 2024
    job_title = request.form['job_title']
    location = request.form['location']
    experience = request.form['experience']
    employment = request.form['employment']
    size = request.form['size']

    job_encoded = encoders['job_title'].transform([job_title])[0]
    location_encoded = encoders['location'].transform([location])[0]
    experience_encoded = encoders['experience'].transform([experience])[0]
    employment_encoded = encoders['employment'].transform([employment])[0]
    size_encoded = encoders['size'].transform([size])[0]

    input_data = pd.DataFrame([[work_year, job_encoded, location_encoded,
                                experience_encoded, employment_encoded, size_encoded]],
                              columns=['work_year', 'job_encoded', 'location_encoded',
                                      'experience_encoded', 'employment_encoded', 'size_encoded'])

    prediction = model.predict(input_data)[0]

    if location in german_countries:
        currency = "€"
    elif location == 'United Kingdom':
        currency = "£"
    else:
        currency = "$"

    salary = f"{currency}{prediction:,.0f}"

    return render_template('index.html',
                           prediction=salary,
                           job_title=job_title,
                           location=location,
                           experience=experience,
                           employment=employment,
                           size=size,
                           job_titles=job_titles,
                           locations=locations,
                           experiences=experiences,
                           employments=employments,
                           sizes=sizes)

if __name__ == '__main__':
    port = int(os.environ.get('PORT', 5000))
    app.run(host='0.0.0.0', port=port, debug=False)
EOF

NameError: name 'cat' is not defined