In [ ]:
import pandas as pd
import numpy as np

# Enhanced dataset with more features
data = {
    'years_experience': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                          1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    'job_title': ['Data Analyst','Data Analyst','Data Scientist','Data Scientist','Data Scientist',
                  'ML Engineer','ML Engineer','ML Engineer','Senior DS','Senior DS',
                  'Senior DS','Lead DS','Lead DS','Lead DS','Director','Director',
                  'Director','VP Data','VP Data','Chief Data Officer',
                  'Software Engineer','Software Engineer','Software Engineer','Senior SWE','Senior SWE',
                  'Senior SWE','Senior SWE','Staff Engineer','Staff Engineer','Staff Engineer',
                  'Staff Engineer','Principal Engineer','Principal Engineer','Principal Engineer',
                  'Principal Engineer','Distinguished Engineer','Distinguished Engineer',
                  'Distinguished Engineer','VP Engineering','CTO'],
    'location': (['San Francisco']*20) + (['New York']*20),
    'education': (['Bachelor']*10 + ['Master']*10) + (['Bachelor']*10 + ['Master']*10),
    'salary': [65000,72000,85000,92000,105000,115000,125000,135000,145000,158000,
               168000,178000,188000,198000,210000,225000,240000,255000,270000,300000,
               60000,68000,80000,88000,100000,110000,120000,130000,140000,152000,
               162000,172000,182000,192000,202000,215000,228000,242000,258000,285000]
}

df2 = pd.DataFrame(data)
print("Enhanced dataset created!")
print("Shape:", df2.shape)
print(df2.head(10))

In [1]:
import pandas as pd
import numpy as np

data = {
    'years_experience': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                          1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    'job_title': ['Data Analyst','Data Analyst','Data Scientist','Data Scientist','Data Scientist',
                  'ML Engineer','ML Engineer','ML Engineer','Senior DS','Senior DS',
                  'Senior DS','Lead DS','Lead DS','Lead DS','Director','Director',
                  'Director','VP Data','VP Data','Chief Data Officer',
                  'Software Engineer','Software Engineer','Software Engineer','Senior SWE','Senior SWE',
                  'Senior SWE','Senior SWE','Staff Engineer','Staff Engineer','Staff Engineer',
                  'Staff Engineer','Principal Engineer','Principal Engineer','Principal Engineer',
                  'Principal Engineer','Distinguished Engineer','Distinguished Engineer',
                  'Distinguished Engineer','VP Engineering','CTO'],
    'location': (['San Francisco']*20) + (['New York']*20),
    'education': (['Bachelor']*10 + ['Master']*10) + (['Bachelor']*10 + ['Master']*10),
    'salary': [65000,72000,85000,92000,105000,115000,125000,135000,145000,158000,
               168000,178000,188000,198000,210000,225000,240000,255000,270000,300000,
               60000,68000,80000,88000,100000,110000,120000,130000,140000,152000,
               162000,172000,182000,192000,202000,215000,228000,242000,258000,285000]
}

df2 = pd.DataFrame(data)
print("Enhanced dataset created!")
print("Shape:", df2.shape)
print(df2.head(10))

Enhanced dataset created!
Shape: (40, 5)
   years_experience       job_title       location education  salary
0                 1    Data Analyst  San Francisco  Bachelor   65000
1                 2    Data Analyst  San Francisco  Bachelor   72000
2                 3  Data Scientist  San Francisco  Bachelor   85000
3                 4  Data Scientist  San Francisco  Bachelor   92000
4                 5  Data Scientist  San Francisco  Bachelor  105000
5                 6     ML Engineer  San Francisco  Bachelor  115000
6                 7     ML Engineer  San Francisco  Bachelor  125000
7                 8     ML Engineer  San Francisco  Bachelor  135000
8                 9       Senior DS  San Francisco  Bachelor  145000
9                10       Senior DS  San Francisco  Bachelor  158000

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, r2_score

# Encode categorical columns
le_job = LabelEncoder()
le_location = LabelEncoder()
le_education = LabelEncoder()

df2['job_title_encoded'] = le_job.fit_transform(df2['job_title'])
df2['location_encoded'] = le_location.fit_transform(df2['location'])
df2['education_encoded'] = le_education.fit_transform(df2['education'])

# Features and target
X = df2[['years_experience', 'job_title_encoded', 'location_encoded', 'education_encoded']]
y = df2['salary']

# Split and train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model2 = LinearRegression()
model2.fit(X_train, y_train)

# Evaluate
y_pred = model2.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("✅ Enhanced model trained!")
print(f"R² Score: {r2:.4f}")
print(f"Mean Absolute Error: ${mae:,.2f}")

✅ Enhanced model trained!
R² Score: 0.9771
Mean Absolute Error: $5,145.62

In [4]:
import pickle

# Save the encoders and model
with open('salary_model2.pkl', 'wb') as f:
    pickle.dump(model2, f)

with open('encoders.pkl', 'wb') as f:
    pickle.dump({
        'job_title': le_job,
        'location': le_location,
        'education': le_education
    }, f)

# Print available options for the web app
print("✅ Enhanced model saved!")
print("\nJob Titles:", list(le_job.classes_))
print("\nLocations:", list(le_location.classes_))
print("\nEducation:", list(le_education.classes_))

✅ Enhanced model saved!

Job Titles: ['CTO', 'Chief Data Officer', 'Data Analyst', 'Data Scientist', 'Director', 'Distinguished Engineer', 'Lead DS', 'ML Engineer', 'Principal Engineer', 'Senior DS', 'Senior SWE', 'Software Engineer', 'Staff Engineer', 'VP Data', 'VP Engineering']

Locations: ['New York', 'San Francisco']

Education: ['Bachelor', 'Master']

In [5]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, r2_score

# Updated dataset with German cities
data = {
    'years_experience': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                         1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                         1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    'job_title': ['Data Analyst','Data Analyst','Data Scientist','Data Scientist','Data Scientist',
                  'ML Engineer','ML Engineer','ML Engineer','Senior DS','Senior DS',
                  'Senior DS','Lead DS','Lead DS','Lead DS','Director','Director',
                  'Director','VP Data','VP Data','Chief Data Officer'] * 3,
    'location': (['San Francisco']*20) + (['New York']*20) + (['Berlin']*20),
    'education': (['Bachelor']*10 + ['Master']*10) * 3,
    'salary': [65000,72000,85000,92000,105000,115000,125000,135000,145000,158000,
               168000,178000,188000,198000,210000,225000,240000,255000,270000,300000,
               60000,68000,80000,88000,100000,110000,120000,130000,140000,152000,
               162000,172000,182000,192000,202000,215000,228000,242000,258000,285000,
               45000,52000,62000,70000,80000,90000,98000,108000,118000,128000,
               138000,148000,158000,168000,178000,190000,202000,215000,228000,255000]
}

df3 = pd.DataFrame(data)

# Encode
le_job = LabelEncoder()
le_location = LabelEncoder()
le_education = LabelEncoder()

df3['job_title_encoded'] = le_job.fit_transform(df3['job_title'])
df3['location_encoded'] = le_location.fit_transform(df3['location'])
df3['education_encoded'] = le_education.fit_transform(df3['education'])

# Train
X = df3[['years_experience', 'job_title_encoded', 'location_encoded', 'education_encoded']]
y = df3['salary']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model3 = LinearRegression()
model3.fit(X_train, y_train)

y_pred = model3.predict(X_test)
print("✅ Updated model trained!")
print(f"R² Score: {r2_score(y_test, y_pred):.4f}")
print(f"MAE: ${mean_absolute_error(y_test, y_pred):,.2f}")
print("\nLocations:", list(le_location.classes_))

# Save
with open('salary_model2.pkl', 'wb') as f:
    pickle.dump(model3, f)

with open('encoders.pkl', 'wb') as f:
    pickle.dump({
        'job_title': le_job,
        'location': le_location,
        'education': le_education
    }, f)

print("✅ Model saved!")

✅ Updated model trained!
R² Score: 0.9899
MAE: $3,927.33

Locations: ['Berlin', 'New York', 'San Francisco']
✅ Model saved!

In [6]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, r2_score

# Updated dataset with more German cities
data = {
    'years_experience': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] * 6,
    'job_title': ['Data Analyst','Data Analyst','Data Scientist','Data Scientist','Data Scientist',
                  'ML Engineer','ML Engineer','ML Engineer','Senior DS','Senior DS',
                  'Senior DS','Lead DS','Lead DS','Lead DS','Director','Director',
                  'Director','VP Data','VP Data','Chief Data Officer'] * 6,
    'location': (['San Francisco']*20) + (['New York']*20) + (['Berlin']*20) + 
                (['Munich']*20) + (['Hamburg']*20) + (['Frankfurt']*20),
    'education': (['Bachelor']*10 + ['Master']*10) * 6,
    'salary': [
        # San Francisco
        65000,72000,85000,92000,105000,115000,125000,135000,145000,158000,
        168000,178000,188000,198000,210000,225000,240000,255000,270000,300000,
        # New York
        60000,68000,80000,88000,100000,110000,120000,130000,140000,152000,
        162000,172000,182000,192000,202000,215000,228000,242000,258000,285000,
        # Berlin
        45000,52000,62000,70000,80000,90000,98000,108000,118000,128000,
        138000,148000,158000,168000,178000,190000,202000,215000,228000,255000,
        # Munich (highest in Germany)
        50000,58000,68000,76000,88000,98000,108000,118000,128000,140000,
        150000,162000,172000,182000,194000,206000,218000,232000,246000,272000,
        # Hamburg
        44000,50000,60000,68000,78000,88000,96000,106000,116000,126000,
        136000,146000,156000,166000,176000,188000,200000,212000,225000,250000,
        # Frankfurt
        47000,54000,64000,72000,83000,93000,102000,112000,122000,133000,
        143000,154000,164000,174000,185000,197000,209000,222000,236000,262000,
    ]
}

df4 = pd.DataFrame(data)

# Encode
le_job = LabelEncoder()
le_location = LabelEncoder()
le_education = LabelEncoder()

df4['job_title_encoded'] = le_job.fit_transform(df4['job_title'])
df4['location_encoded'] = le_location.fit_transform(df4['location'])
df4['education_encoded'] = le_education.fit_transform(df4['education'])

# Train
X = df4[['years_experience', 'job_title_encoded', 'location_encoded', 'education_encoded']]
y = df4['salary']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model4 = LinearRegression()
model4.fit(X_train, y_train)

y_pred = model4.predict(X_test)
print("✅ Updated model trained!")
print(f"R² Score: {r2_score(y_test, y_pred):.4f}")
print(f"MAE: ${mean_absolute_error(y_test, y_pred):,.2f}")
print("\nLocations:", list(le_location.classes_))

# Save
with open('salary_model2.pkl', 'wb') as f:
    pickle.dump(model4, f)

with open('encoders.pkl', 'wb') as f:
    pickle.dump({
        'job_title': le_job,
        'location': le_location,
        'education': le_education
    }, f)

print("✅ Model saved!")

✅ Updated model trained!
R² Score: 0.9810
MAE: $5,551.55

Locations: ['Berlin', 'Frankfurt', 'Hamburg', 'Munich', 'New York', 'San Francisco']
✅ Model saved!