In [ ]:
import pandas as pd
import numpy as np

# Enhanced dataset with more features
data = {
    'years_experience': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                          1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    'job_title': ['Data Analyst','Data Analyst','Data Scientist','Data Scientist','Data Scientist',
                  'ML Engineer','ML Engineer','ML Engineer','Senior DS','Senior DS',
                  'Senior DS','Lead DS','Lead DS','Lead DS','Director','Director',
                  'Director','VP Data','VP Data','Chief Data Officer',
                  'Software Engineer','Software Engineer','Software Engineer','Senior SWE','Senior SWE',
                  'Senior SWE','Senior SWE','Staff Engineer','Staff Engineer','Staff Engineer',
                  'Staff Engineer','Principal Engineer','Principal Engineer','Principal Engineer',
                  'Principal Engineer','Distinguished Engineer','Distinguished Engineer',
                  'Distinguished Engineer','VP Engineering','CTO'],
    'location': (['San Francisco']*20) + (['New York']*20),
    'education': (['Bachelor']*10 + ['Master']*10) + (['Bachelor']*10 + ['Master']*10),
    'salary': [65000,72000,85000,92000,105000,115000,125000,135000,145000,158000,
               168000,178000,188000,198000,210000,225000,240000,255000,270000,300000,
               60000,68000,80000,88000,100000,110000,120000,130000,140000,152000,
               162000,172000,182000,192000,202000,215000,228000,242000,258000,285000]
}

df2 = pd.DataFrame(data)
print("Enhanced dataset created!")
print("Shape:", df2.shape)
print(df2.head(10))